<form action="/api/product" enctype="multipart/form-data" method="POST">
  <div>
    <label for="title">Title:</label>
    <br />
    <input type="text" name="title" required />
  </div>
  <div>
    <label for="price">Price:</label>
    <br />
    <input type="number" name="price" step="0.01" required />
  </div>
  <div>
    <label for="image">Image:</label>
    <br />
    <input type="file" name="image" accept="image/*"  />
  </div>
  <br />
  <button type="submit">Submit</button>
</form>

<style>
  div {
    margin-bottom: 1rem;
  }
  label {
    display: block;
    margin-bottom: 0.5rem;
  }
  input, textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  button {
    padding: 0.5rem 1rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  button:hover {
    background-color: #45a049;
  }
  .error-message {
    color: red;
    margin-bottom: 1rem;
  }
</style>
