<form action="/api/register" accept-charset="UTF-8" method="POST">
    <div>
      <label for="username">Username:</label>
      <br />
      <input type="text" name="username" required />
    </div>
    <div>
      <label for="email">Email:</label>
      <br />
      <input type="email" name="email" required />
    </div>
    <div>
      <label for="password">Password:</label>
      <br />
      <input type="password" name="password" required />
    </div>
    <br />
    <button type="submit">Register</button>
  </form>
  